a {
  text-decoration: none;
  color: #333; }
  a:hover {
    color: #999; }

.nav-top {
  padding-top: 2rem;
  background-color: #faebd7; }

.header {
  text-align: center;
  padding: 10rem 0 15rem 0;
  background-color: #faebd7; }

.section-one {
  padding: 5rem 0;
  text-align: center; }

.section-two {
  padding: 8rem 0 5rem 0;
  background-color: #faebd7;
  text-align: center; }

.section-three {
  padding: 5rem 0;
  text-align: center; }

.section-four {
  padding: 3rem 0;
  background-color: #faebd7; }

.section-five {
  padding: 3rem 0;
  background-color: #ddd; }
