.header {
	text-align: center;
	padding: 150px 0;
	background-color: antiquewhite;
}

.feature {
	padding: 50px 0;
	text-align: center;
}

.purpose {
	padding: 50px 0;
	background-color: antiquewhite;
	text-align: center;
}

.contact {
	padding: 25px 0;
}